
body {
	font-family: Palanquin,
							 "HelveticaNeue-Light", 
							 "Helvetica Neue Light", 
							 "Helvetica Neue", 
							 Helvetica, 
							 Arial, 
							 "Lucida Grande", 
							 sans-serif;
	margin: 0;
	text-shadow: 1px 1px #bbb;
}

.section {
	position: relative;
	padding: 75px 0;
	height: 380px;
	text-align: center;
	overflow: hidden;
}

.intro {
	z-index: 1000;
	min-height: 770px;
	background-image: url(background.jpeg);
	background-position: center;
	background-size: cover;
	box-shadow: 0px 30px 100px #000;
}

.my-work {
	z-index: 900;
	height: 100%;
	background: #52bc59;
	padding: 10% 0;
	box-shadow: 0px 1px 50px #000;
}

.about {
	z-index: 800;
	vertical-align: middle;
	background-image: url(light.jpeg);
	background-size: cover;
	box-shadow: 0px 1px 50px #000;
}

.about-me-header {
	padding-bottom: 90px;
	font-size: 20px;
}

.contact-me {
	background: #fcfd95;
	padding: 10% 0;
}

#greeting {
	position: relative;
	top: 150px;
	width: 50%;
	margin: 0 auto;
}

.icon {
	width: 100px;
	height: 100px;
	padding: 30px;
}

.button-contact-me {
	border: 1px solid #eee;
	font-size: 20px;
	border-radius: 20px;
	width: 300px;
	height: 100px;
	background-image: linear-gradient(to bottom right, white, gold);
}