
body {
	font-family: "HelveticaNeue-Light", 
							 "Helvetica Neue Light", 
							 "Helvetica Neue", 
							 Helvetica, 
							 Arial, 
							 "Lucida Grande", 
							 sans-serif;
	margin: 0;
	text-shadow: 1px 1px #bbb;
}

@media only screen and (min-width: 320px) {

	p {
		max-width: 70%;
		margin: 0 auto;
		padding-bottom: 30px;
		text-align: center;
	}

	.section {
		position: relative;
		padding: 75px 0;
		height: 450px;
		text-align: center;
		overflow: hidden;
	}

	.intro {
		z-index: 1000;
		min-height: 770px;
		background-image: url("../media/background.jpeg");
		background-position: center;
		background-size: cover;
		box-shadow: 0px 30px 100px #000;
	}

	.my-work {
		z-index: 900;
		height: 100%;
		background: #0f90a3;
		padding: 10% 0;
		box-shadow: 0px 1px 50px #000;
	}

	.about {
		z-index: 800;
		vertical-align: middle;
		background-image: url("../media/light.jpeg");
		background-size: cover;
		box-shadow: 0px 1px 50px #000;
	}

	.about-me-header {
		padding-bottom: 90px;
		font-size: 20px;
		text-align: center;
	}

	.my-work-header {
		padding-top: 70px;
		margin: 0 auto;
		text-align: center;
	}

	.contact-me {
		background: #fcfd95;
		padding: 10% 0;
	}

	.greeting {
		position: relative;
		text-align: center;
		top: 40px;
		width: 100%;
		margin: 0 auto;
		color: #fff;
		text-shadow: 1px 1px #000;
	}

	#photo-card {
		display: block;
		position: relative;
		text-align: center;
		top: 80px;
		width: 160px;
		height: 160px;
		margin: 0 auto;
		border-radius: 50%;
		border: 0;
	}

	.icon {
		display: block;
		margin: 0 auto;
		width: 100px;
		height: 100px;
		padding: 30px;
		transition: transform 0.3s;
	}

	p a img.icon:hover {
		transform: scale(1.05) !important;
	}

	.contact-me-button {
		border: 1px solid #eee;
		font-size: 20px;
		border-radius: 20px;
		width: 300px;
		height: 100px;
		margin-top: 60px;
		background-image: linear-gradient(to bottom right, white, gold);
	}

	#arrow {
		position: relative;
		top: 175px;
		margin: 0 auto;
		max-width: 100px;
		height: 50px;
		border: 0;
	}

	#arrow-left {
		position: absolute;
		display: inline-block;
		vertical-align: middle;
		right: 34.5px;
		width: 1px;
		height: 45px;
		border: 1px solid #fff;
		background: #fff;
		transform: rotate(39deg);
	}

	#arrow-right {
		position: absolute;
		display: inline-block;
		vertical-align: middle;
		left: 34.5px;
		width: 1px;
		height: 45px;
		border: 1px solid #fff;
		background: #fff;
		transform: rotate(-39deg);
	}
}

@media only screen and (min-width: 1025px) {

	p {
		max-width: 70%;
		margin: 0 auto;
		padding-bottom: 30px;
		text-align: center;
	}

	.section {
		position: relative;
		padding: 75px 0;
		height: 450px;
		text-align: center;
		overflow: hidden;
	}

	.intro {
		z-index: 1000;
		min-height: 770px;
		background-image: url("../media/background.jpeg");
		background-position: center;
		background-size: cover;
		box-shadow: 0px 30px 100px #000;
	}

	.my-work {
		z-index: 900;
		height: 100%;
		background: #0f90a3 /*#41bed2 52bc59*/;
		padding: 10% 0;
		box-shadow: 0px 1px 50px #000;
	}

	.about {
		z-index: 800;
		vertical-align: middle;
		background-image: url("../media/light.jpeg");
		background-size: cover;
		box-shadow: 0px 1px 50px #000;
	}

	#photo-card {
		display: block;
		position: relative;
		text-align: center;
		top: 150px;
		width: 180px;
		height: 180px;
		margin: 0 auto;
		border-radius: 50%;
		border: 0;
	}

	.about-me-header {
		padding-bottom: 90px;
		font-size: 20px;
		text-align: center;
	}

	.my-work-header {
		padding-top: 70px;
		margin: 0 auto;
		text-align: center;
	}

	.contact-me {
		background: #fcfd95;
		padding: 10% 0;
	}

	.greeting {
		position: relative;
		display: block;
		text-align: center;
		top: 100px;
		width: 100%;
		padding: 0;
		margin: 0 auto;
		color: #fff;
		text-shadow: 1px 1px #000;
	}

	.icon {
		display: block;
		margin: 0 auto;
		width: 100px;
		height: 100px;
		padding: 30px;
		transition: transform 0.3s;
	}

	p a img.icon:hover {
		transform: scale(1.05) !important;
	}

	.contact-me-button {
		border: 1px solid #eee;
		font-size: 20px;
		border-radius: 20px;
		width: 300px;
		height: 100px;
		margin-top: 60px;
		background-image: linear-gradient(to bottom right, white, gold);
	}

	#arrow {
		position: relative;
		top: 250px;
		margin: 0 auto;
		max-width: 100px;
		height: 50px;
		border: 0;
	}

	#arrow-left {
		position: absolute;
		display: inline-block;
		vertical-align: middle;
		right: 34.5px;
		width: 1px;
		height: 45px;
		border: 1px solid #fff;
		background: #fff;
		transform: rotate(39deg);
	}

	#arrow-right {
		position: absolute;
		display: inline-block;
		vertical-align: middle;
		left: 34.5px;
		width: 1px;
		height: 45px;
		border: 1px solid #fff;
		background: #fff;
		transform: rotate(-39deg);
	}
}