
body {
	font-family: Roboto,
							 /* "HelveticaNeue-Light", 
							 "Helvetica Neue Light", 
							 "Helvetica Neue", 
							 Helvetica, */
							 Arial, 
							 "Lucida Grande", 
							 sans-serif;
	margin: 0;
	text-shadow: 1px 1px #bbb;
}

@media only screen and (min-width: 320px) {

	p {
		max-width: 70%;
		margin: 0 auto;
		padding-bottom: 30px;
		text-align: center;
	}

	.section {
		position: relative;
		padding: 75px 0;
		height: 550px;
		text-align: center;
		overflow: hidden;
	}

	.greeting {
		position: relative;
		text-align: center;
		top: 140px;
		width: 100%;
		margin: 0 auto;
		color: #fff;
		font-size: 22px;
		text-shadow: 1px 1px #000;
	}

	#greeting-photo-card {
		display: block;
		position: relative;
		text-align: center;
		top: 200px;
		width: 200px;
		height: 200px;
		margin: 0 auto;
		border-radius: 50%;
		border: 0;
	}

	.intro {
		z-index: 1000;
		min-height: 570px;
		background-size: cover;
		background-repeat: none;
		margin-left: -750px
	}

	.my-work {
		margin-top: -50px;
		z-index: 900;
		height: 100%;
		background: #0f90a3;
		padding: 10% 0;
		box-shadow: inset 0px 50px 50px -50px #000, 
											0px 1px 50px #000;
	}

	.about {
		z-index: 800;
		min-height: 550px;
		vertical-align: middle;
		background-image: url("../media/light.jpeg");
		background-size: cover;
		box-shadow: 0px 1px 50px #000;
	}

	.about-me-header {
		padding-top: 30px;
		padding-bottom: 90px;
		font-size: 20px;
		text-align: center;
	}

	.my-work-header {
		padding-top: 70px;
		margin: 0 auto;
		text-align: center;
	}

	.contact-me {
		background: #f2a644;
		padding: 15% 0;
		height: 520px;
	}

	.icon {
		display: block;
		margin: 0 auto;
		width: 100px;
		height: 100px;
		padding: 30px;
		transition: transform 0.3s;
	}

	#open-contact-me {
		border: 1px solid #eee;
		font-size: 20px;
		border-radius: 20px;
		width: 300px;
		height: 100px;
		margin-top: 60px;
		background-image: linear-gradient(to bottom right, white, gold);
	}

	#arrow {
		position: relative;
		top: 130px;
		margin: 0 auto;
		max-width: 100px;
		height: 50px;
		border: 0;
	}

	#arrow-left {
		position: absolute;
		display: inline-block;
		vertical-align: middle;
		right: 34.5px;
		width: 1px;
		height: 45px;
		border: 1px solid #fff;
		background: #fff;
		-webkit-transform: rotate(39deg);
		-moz-transform: rotate(39deg);
		-ms-transform: rotate(39deg);
		-o-transform: rotate(39deg);
		transform: rotate(39deg);
	}

	#arrow-right {
		position: absolute;
		display: inline-block;
		vertical-align: middle;
		left: 34.5px;
		width: 1px;
		height: 45px;
		border: 1px solid #fff;
		background: #fff;
		-webkit-transform: rotate(-39deg);
		-moz-transform: rotate(-39deg);
		-ms-transform: rotate(-39deg);
		-o-transform: rotate(-39deg);
		transform: rotate(-39deg);
	}

	#arrow-up {
		position: relative;
		top: 210px;
		margin: 0 auto;
		max-width: 100px;
		height: 50px;
		border: 0;
	}

	#arrow-up-left {
		position: absolute;
		display: inline-block;
		vertical-align: middle;
		right: 34.5px;
		width: 1px;
		height: 45px;
		border: 1px solid #fff;
		background: #fff;
		-webkit-transform: rotate(-39deg);
		-moz-transform: rotate(-39deg);
		-ms-transform: rotate(-39deg);
		-o-transform: rotate(-39deg);
		transform: rotate(-39deg);
	}

	#arrow-up-right {
		position: absolute;
		display: inline-block;
		vertical-align: middle;
		left: 34.5px;
		width: 1px;
		height: 45px;
		border: 1px solid #fff;
		background: #fff;
		-webkit-transform: rotate(39deg);
		-moz-transform: rotate(39deg);
		-ms-transform: rotate(39deg);
		-o-transform: rotate(39deg);
		transform: rotate(39deg);
	}

}

@media only screen and (min-width: 768px) {

	.intro {
		z-index: 1000;
		min-height: 570px;
		background-repeat: none;
		background-size: cover;
		margin-left: -400px;
	}

}

@media only screen and (min-width: 1024px) {

	:root {
		--scale-size: scale(1.05);
		--black-clr: #000;
		--white-clr: #fff;
		--icon-drop-shadow: #355370;
		--icon-shadow-size: 0.95rem;
	}

	a {
		/** 
		 * fix underline in my-work icons
		 * in desktop mode */
		text-decoration: none;
	}

	p {
		max-width: 70%;
		margin: 0 auto;
		padding-bottom: 30px;
		text-align: center;
		user-select: none;
	}

	#spa {
		display: block;
	}

	.section {
		position: relative;
		padding: 75px 0;
		height: 650px;
		text-align: center;
		overflow: hidden;
	}

	.intro {
		z-index: 1000;
		min-height: 900px;
		background-size: cover;
		background-repeat: none;
		margin-left: 0;
	}

	.greeting {
		position: relative;
		display: block;
		text-align: center;
		top: 150px;
		width: 100%;
		padding: 0;
		margin: 0 auto;
		color: var(--white-clr);
		font-size: 22px;
		text-shadow: 1px 1px var(--black-clr);
		user-select: none;
	}

	#greeting-photo-card {
		display: block;
		position: relative;
		text-align: center;
		top: 290px;
		width: 200px;
		height: 200px;
		margin: 0 auto;
		border-radius: 50%;
		border: 0;
		user-select: none;
	}

	.my-work {
		margin-top: 0;
		z-index: 900;
		height: 100%;
		background: #0f90a3;
		padding: 10% 0;
		box-shadow: inset 0px 50px 50px -50px var(--black-clr), 
											0px 1px 50px var(--black-clr);
	}

	.about {
		z-index: 800;
		margin: 0 auto;
		background-image: url("../media/light.jpeg");
		background-size: cover;
		box-shadow: 0px 1px 50px var(--black-clr);
	}

	.about-me-header {
		padding-top: 7%;
		padding-bottom: 90px;
		font-size: 20px;
		text-align: center;
	}

	.my-work-header {
		padding-top: 50px;
		padding-bottom: 50px;
		margin: 0 auto;
		text-align: center;
		user-select: none;
	}

	.contact-me {
		background: #f2a644;
		padding: 10% 0;
		height: 520px;
	}

	.icon {
		display: inline-block;
		margin: 0 auto;
		width: 100px;
		height: 100px;
		padding: 30px;
		transition: transform 0.3s;
	}

	body a#react img.icon:hover {
		filter: drop-shadow(0 0 var(--icon-shadow-size) var(--icon-drop-shadow));
		-webkit-transform: var(--scale-size);
		-moz-transform: var(--scale-size);
		-ms-transform: var(--scale-size);
		-o-transform: var(--scale-size);
		transform: var(--scale-size);
	}

	body a#jsfid img.icon:hover {
		filter: drop-shadow(0 0 var(--icon-shadow-size) var(--icon-drop-shadow));
		-webkit-transform: var(--scale-size);
		-moz-transform: var(--scale-size);
		-ms-transform: var(--scale-size);
		-o-transform: var(--scale-size);
		transform: var(--scale-size);
	}

	body a#codepen img.icon:hover {
		filter: drop-shadow(0 0 var(--icon-shadow-size) var(--icon-drop-shadow));
		-webkit-transform: var(--scale-size);
		-moz-transform: var(--scale-size);
		-ms-transform: var(--scale-size);
		-o-transform: var(--scale-size);
		transform: var(--scale-size);
	}

	body a#github img.icon:hover {
		filter: drop-shadow(0 0 var(--icon-shadow-size) var(--icon-drop-shadow));
		-webkit-transform: var(--scale-size);
		-moz-transform: var(--scale-size);
		-ms-transform: var(--scale-size);
		-o-transform: var(--scale-size);
		transform: var(--scale-size);
	}

	.open-contact-me {
		border: 1px solid #eee;
		font-size: 20px;
		border-radius: 20px;
		width: 300px;
		height: 100px;
		margin-top: 60px;
		background-image: linear-gradient(to bottom right, white, gold);
	}

	#arrow-up {
		display: block;
		position: relative;
		top: 210px;
		margin: 0 auto;
		max-width: 100px;
		height: 50px;
		border: 0;
	}
	
	.arrow-up-transition {
		transition: all 1s;
	}

	#arrow-up-left {
		position: absolute;
		display: inline-block;
		vertical-align: middle;
		right: 34.5px;
		width: 1px;
		height: 45px;
		border: 1px solid var(--white-clr);
		background: var(--white-clr);
		-webkit-transform: rotate(-39deg);
		-moz-transform: rotate(-39deg);
		-ms-transform: rotate(-39deg);
		-o-transform: rotate(-39deg);
		transform: rotate(-39deg);
	}

	#arrow-up-right {
		position: absolute;
		display: inline-block;
		vertical-align: middle;
		left: 34.5px;
		width: 1px;
		height: 45px;
		border: 1px solid var(--white-clr);
		background: var(--white-clr);
		-webkit-transform: rotate(39deg);
		-moz-transform: rotate(39deg);
		-ms-transform: rotate(39deg);
		-o-transform: rotate(39deg);
		transform: rotate(39deg);
	}

}
