
body {
	font-family: "HelveticaNeue-Light", 
							 "Helvetica Neue Light", 
							 "Helvetica Neue", 
							 Helvetica, 
							 Arial, 
							 "Lucida Grande", 
							 sans-serif;
	margin: 0;
	text-shadow: 1px 1px #bbb;
}

@media only screen and (min-width: 320px) {

	p {
		max-width: 70%;
		margin: 0 auto;
		padding-bottom: 30px;
		text-align: center;
	}

	/**
	 * 			https://keithclark.co.uk/articles/pure-css-parallax-websites/
	 *			rellax.js interfered with onscroll listener for up-arrow
	 *			parallax begin 																						 */

	.parallax {
		z-index: 1000;
	  perspective: 1px;
	  height: 800px;
	  background: #000;
	  overflow-x: hidden;
	  overflow-y: auto;
	  perspective-origin-x: 100%;
	}

	.parallax__group {
	  position: relative;
	  height: 100vh;
	  transform-style: preserve-3d;
	}

	.parallax__layer {
	  position: absolute;
	  top: 0;
	  right: 0;
	  bottom: 0;
	  left: 0;
	  transform-origin-x: 100%;
	}

	.parallax__layer--base {
	  transform: translateZ(0);
	}

	.parallax__layer--back {
	  transform: translateZ(-1px) scale(2);
	}

	/**
	 *			parallax end 			*/

	.section {
		position: relative;
		padding: 75px 0;
		height: 450px;
		text-align: center;
		overflow: hidden;
	}

	.greeting {
		position: relative;
		text-align: center;
		top: 140px;
		width: 100%;
		margin: 0 auto;
		color: #fff;
		font-size: 20px;
		text-shadow: 1px 1px #000;
	}

	#greeting-photo-card {
		display: block;
		position: relative;
		text-align: center;
		top: 200px;
		width: 160px;
		height: 160px;
		margin: 0 auto;
		border-radius: 50%;
		border: 0;
	}

	.intro {
		z-index: 1000;
		min-height: 570px;
		background-repeat: none;
		background-size: auto;
		margin-left: -750px
	}

	.my-work {
		margin-top: -50px;
		z-index: 900;
		height: 100%;
		background: #0f90a3;
		padding: 10% 0;
		box-shadow: inset 0 50px 50px -50px #000, 0px 1px 50px #000;
	}

	.about {
		z-index: 800;
		min-height: 550px;
		vertical-align: middle;
		background-image: url("../media/light.jpeg");
		background-size: cover;
		box-shadow: 0px 1px 50px #000;
	}

	.about-me-header {
		padding-top: 30px;
		padding-bottom: 90px;
		font-size: 20px;
		text-align: center;
	}

	.my-work-header {
		padding-top: 70px;
		margin: 0 auto;
		text-align: center;
	}

	.contact-me {
		background: #f2a644;
		padding: 15% 0;
		height: 520px;
	}

	.icon {
		display: block;
		margin: 0 auto;
		width: 100px;
		height: 100px;
		padding: 30px;
		transition: transform 0.3s;
	}

	#open-contact-me {
		border: 1px solid #eee;
		font-size: 20px;
		border-radius: 20px;
		width: 300px;
		height: 100px;
		margin-top: 60px;
		background-image: linear-gradient(to bottom right, white, gold);
	}

	#arrow {
		position: relative;
		top: 130px;
		margin: 0 auto;
		max-width: 100px;
		height: 50px;
		border: 0;
	}

	#arrow-left {
		position: absolute;
		display: inline-block;
		vertical-align: middle;
		right: 34.5px;
		width: 1px;
		height: 45px;
		border: 1px solid #fff;
		background: #fff;
		transform: rotate(39deg);
	}

	#arrow-right {
		position: absolute;
		display: inline-block;
		vertical-align: middle;
		left: 34.5px;
		width: 1px;
		height: 45px;
		border: 1px solid #fff;
		background: #fff;
		transform: rotate(-39deg);
	}

	#arrow-up {
		position: relative;
		top: 210px;
		margin: 0 auto;
		max-width: 100px;
		height: 50px;
		border: 0;
	}

	#arrow-up-left {
		position: absolute;
		display: inline-block;
		vertical-align: middle;
		right: 34.5px;
		width: 1px;
		height: 45px;
		border: 1px solid #fff;
		background: #fff;
		transform: rotate(-39deg);
	}

	#arrow-up-right {
		position: absolute;
		display: inline-block;
		vertical-align: middle;
		left: 34.5px;
		width: 1px;
		height: 45px;
		border: 1px solid #fff;
		background: #fff;
		transform: rotate(39deg);
	}

}

@media only screen and (min-width: 768px) {

	.intro {
		z-index: 1000;
		min-height: 570px;
		background-repeat: none;
		background-size: auto;
		margin-left: -400px
	}

}

@media only screen and (min-width: 1024px) {

	:root {
		--scale-size: scale(1.05);
	}

	a {
		/** 
		 * fix underline in my-work icons
		 * in desktop mode */
		text-decoration: none;
	}

	p {
		max-width: 70%;
		margin: 0 auto;
		padding-bottom: 30px;
		text-align: center;
		user-select: none;
	}

	/**
	 *
	 parallax begin */

	.parallax {
		z-index: 1000;
	  perspective: 1px;
	  height: 630px;
	  background: #000;
	  overflow-x: hidden;
	  overflow-y: auto;
	  perspective-origin-x: 100%;
	}

	.parallax__group {
	  position: relative;
	  height: 100vh;
	  transform-style: preserve-3d;
	}

	.parallax__layer {
	  position: absolute;
	  top: 0;
	  right: 0;
	  bottom: 0;
	  left: 0;
	  transform-origin-x: 100%;
	}

	.parallax__layer--base {
	  transform: translateZ(0);
	}

	.parallax__layer--back {
	  transform: translateZ(-1px) scale(2);
	}

	/**
	 *
	 parallax end */

	#spa {
		display: block;
	}

	.section {
		position: relative;
		padding: 75px 0;
		height: 550px;
		text-align: center;
		overflow: hidden;
	}

	.intro {
		z-index: 1000;
		min-height: 900px;
		background-repeat: none;
		margin-left: 0;
	}

	.greeting {
		position: relative;
		display: block;
		text-align: center;
		top: 150px;
		width: 100%;
		padding: 0;
		margin: 0 auto;
		color: #fff;
		font-size: 20px;
		text-shadow: 1px 1px #000;
		user-select: none;
	}

	#greeting-photo-card {
		display: block;
		position: relative;
		text-align: center;
		top: 290px;
		width: 180px;
		height: 180px;
		margin: 0 auto;
		border-radius: 50%;
		border: 0;
	}

	.my-work {
		margin-top: 0;
		z-index: 900;
		height: 100%;
		background: #0f90a3;
		padding: 10% 0;
		box-shadow: inset 0 50px 50px -50px #000, 0px 1px 50px #000;
	}

	.about {
		z-index: 800;
		min-height: 450px;
		vertical-align: middle;
		background-image: url("../media/light.jpeg");
		background-size: cover;
		box-shadow: 0px 1px 50px #000;
	}

	.about-me-header {
		padding-top: 30px;
		padding-bottom: 90px;
		font-size: 20px;
		text-align: center;
	}

	.my-work-header {
		padding-top: 70px;
		margin: 0 auto;
		text-align: center;
		user-select: none;
	}

	.contact-me {
		background: #f2a644;
		padding: 10% 0;
		height: 520px;
	}

	.icon {
		display: inline-block;
		margin: 0 auto;
		width: 100px;
		height: 100px;
		padding: 30px;
		transition: transform 0.3s;
	}

	body a#jsfid img.icon:hover {
		transform: var(--scale-size);
	}

	body a#codepen img.icon:hover {
		transform: var(--scale-size);
	}

	body a#github img.icon:hover {
		transform: var(--scale-size);
	}

	.open-contact-me {
		border: 1px solid #eee;
		font-size: 20px;
		border-radius: 20px;
		width: 300px;
		height: 100px;
		margin-top: 60px;
		background-image: linear-gradient(to bottom right, white, gold);
	}

	#arrow-up {
		display: block;
		position: relative;
		top: 210px;
		margin: 0 auto;
		max-width: 100px;
		height: 50px;
		border: 0;
	}

	.arrow-up-transition {
		transition: all 1s;
	}

	#arrow-up-left {
		position: absolute;
		display: inline-block;
		vertical-align: middle;
		right: 34.5px;
		width: 1px;
		height: 45px;
		border: 1px solid #fff;
		background: #fff;
		transform: rotate(-39deg);
	}

	#arrow-up-right {
		position: absolute;
		display: inline-block;
		vertical-align: middle;
		left: 34.5px;
		width: 1px;
		height: 45px;
		border: 1px solid #fff;
		background: #fff;
		transform: rotate(39deg);
	}

}
